modal-cost-compare{
    .toolbar-title{
        text-overflow:inherit !important;
    }
    .toolbar-title-md, .toolbar-title-ios{
        font-size: 1.6em !important;
    }
    h4{

        font-size:1.8em;
        background-color: #016d84;
        color:#d5e002;
        padding:3px 10px 3px 10px;
        border-radius:20px;
    }
}
