.searchbar-input {
  box-shadow: none !important;
}

ion-footer {
  padding: 8px 16px !important;
}
.property-list-content{

          ion-icon {
          color: #d5e002 !important;
          }

          .doctor-card-text {
          position:relative !important;
          top: -117px !important;
          padding: 10px !important;
          }

          .doctor-card-text  h2 {
          font-weight: bold !important;
          font-size: 18px !important;
          color: white !important;
          }

          .doctor-card-button {
          position:relative;
          text-align: center;
          top: -77px;
          }

          .doctor-card-button button
          {
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          width:80%;
          padding:17px;
          color: #d5e002;
          background-color: #016d84;
          text-transform: uppercase;
          border-radius: 50px;
          font-size: 12px;
          overflow: hidden;
          transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        }

          .doctor-card-text  h2 {
          font-weight: bold !important;
          font-size: 18px !important;
          color: white !important;
          }

          .doctor-card
          {
          margin-bottom:5px !important;
          width:100% !important;
          padding:0px !important;
          height: 260px;
          }

          .doctor-card .item-md
          {
          border-radius:8px !important;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
          }


          .doctor-card-box
          {
          padding-top:83px;
          top: -18px;
          position: relative;
          }
          .doctor-card-box img {
          display: block;
          width: 100%;
          }

          .doctor-card .item-md {
          border-radius:8px !important;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
          }

          .label-md {
          margin: 0px !important;
          }

          .item-wrapper {
          margin-top: 10px !important;
          margin-left: 14px !important;
          width: 95% !important;
          }

          .item-md, .item-block, .item-inner {
          padding: 0px !important;
          border-bottom: 0px !important;
          }

         ion-item-sliding {
            background-color: #fff;
              border: 1px solid white;
              box-shadow: 1px 1px 4px grey;
              border-radius: 5px;
              margin-bottom: 15px !important;
              margin-top: 15px !important;
          }

          ion-card {
          position: relative;
          text-align: center;
          }

          .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
          }

          .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
          }

          ion-label{
            height: 210px;
          }

          .label-ios {margin:0px;}
          .label-wp {margin:0px;}

          ion-navbar{background-color: red !important;}
}
