page-test-center-list {

}
.segment{
    background: #ffffff;
    
}
.toolbar-height{
    height:4em;
    background: #ffffff;
}
.segment-button{
    height:4em !important;
}
.segment-button div{
    font-size:1.3em;
}