<ion-header>
    <ion-navbar>
        <ion-title>{{property.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
        
        
    <ion-card *ngIf="property.id">
        <img src="{{property.picture}}"/>
        <ion-card-content>
            <h1 class="card-title">{{property.title}}</h1>
            <p>{{property.address}}, {{property.city}} {{property.state}}</p>
        </ion-card-content>
       <ion-list>
           <ion-list-header>Shedule Appointment</ion-list-header>
        <ion-item>
                <ion-icon item-left name="calendar" item-left></ion-icon>
                <ion-datetime min="2018" [(ngModel)]="appdate" (ionChange)="changeDate($event)"></ion-datetime>
                <ion-icon item-right name="arrow-forward" ></ion-icon>
            </ion-item>
        <ion-scroll scrollX="true" class="item" *ngIf="isSet">
                <button ion-button class="btn-padding" *ngFor="let itm of schedules" (click)="logAppointment(itm)">{{itm}}</button>
        </ion-scroll>
        </ion-list>
        <ion-list>
            
            <ion-item>
                <ion-icon item-left name="moon"></ion-icon>
                <h3>Bedrooms</h3>
                <ion-note item-right>{{property.bedrooms}}</ion-note>
            </ion-item>
            <ion-item>
                <ion-icon item-left name="leaf"></ion-icon>
                <h3>Bathrooms</h3>
                <ion-note item-right>{{property.bathrooms}}</ion-note>
            </ion-item>
            <ion-item>
                <ion-icon item-left name="pricetag"></ion-icon>
                <h3>Asking Price</h3>
                <ion-note item-right>{{property.price}}</ion-note>
            </ion-item>
            <button ion-item (click)="openBrokerDetail(property.broker)">
                <ion-avatar item-left>
                    <img src="{{property.broker.picture}}"/>
                </ion-avatar>
                <h2>{{property.broker.name}}</h2>
                <p>{{property.broker.title}}</p>
            </button>
        </ion-list>

        <ion-item>
            <button ion-button icon-left (click)="favorite(property)" clear item-left>
                <ion-icon name="star"></ion-icon>
                Favorite
            </button>
            <button ion-button icon-left (click)="share(property)" clear item-right>
                <ion-icon name="share"></ion-icon>
                Share
            </button>
        </ion-item>

    </ion-card>
</ion-content>
