<ion-header>
    <ion-navbar>
        <ion-title text-wrap>{{property.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="property-detail">


    <ion-card *ngIf="property.id">
        <img src="{{property.picture}}"/>
        <ion-card-content>
          <h1>{{property.name}}</h1>
            <span class="card-title">{{property.title}}</span>
            <p><ion-icon ios="ios-home" md="md-home"></ion-icon>{{property.address}}, {{property.city}} {{property.state}}</p>
            <p><ion-icon ios="ios-call" md="md-call"></ion-icon>08099442825</p>
            <span class="card-title">Afffliation</span>
            <p *ngFor="let itm of property.affliation"><ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>{{itm}}</p>
            
        </ion-card-content>
       <ion-list>
           <ion-list-header>Shedule Appointment</ion-list-header>
        <ion-item>
                <ion-icon item-left name="calendar"></ion-icon>
                <ion-datetime min="2018" [(ngModel)]="appdate" (ionChange)="changeDate($event)"></ion-datetime>
                <ion-icon item-right name="arrow-forward" ></ion-icon>
            </ion-item>
            <ion-item *ngIf="isSet" >
                    <ion-label>Purpose of visit</ion-label>
                    <ion-select [(ngModel)]="appmtType" interface="action-sheet" item-right>
                    <ion-option value="New Problem" selected>New Problem</ion-option>
                    <ion-option value="Follow-up">Follow up</ion-option>
                    <ion-option value="Vaccination">Vaccination</ion-option>
                    <ion-option value="Pre Op">Pre Op</ion-option>
                    <ion-option value="Screening">Screening</ion-option>
                    </ion-select>
            </ion-item>
            <div *ngIf="isSet" ion-item>
                <h3>Pick Appointment Time</h3>
            <ion-scroll scrollX="true" class="item" >
                   <button ion-button  small class="btn-padding" *ngFor="let itm of schedules" (click)="logAppointment(itm)">{{itm}}</button>
            </ion-scroll>
           </div>
        </ion-list>
        <ion-list>
            <button ion-item detail-none (click)="goAppointment()" clear >
                <ion-icon item-left name="leaf"></ion-icon>
                <h3>Pending Appointments</h3>

                <ion-note item-right>{{appointmentCount}} Count(s)</ion-note>
            </button>
            <ion-item>
                <ion-icon item-left name="pricetag"></ion-icon>
                <h3>Cost of Visit</h3>
                <ion-note item-right>{{property.price}}</ion-note>
            </ion-item>
        </ion-list>

        <ion-item>
                <button ion-button icon-left (click)="openBrokerDetail()" clear item-left>
                        <ion-icon name="star"></ion-icon>
                        View more...
                    </button>
           <!-- <button ion-button icon-left (click)="favorite(property)" clear item-left>
                <ion-icon name="star"></ion-icon>
                Favorite
            </button>-->
            <button ion-button icon-left (click)="share(property)" clear item-right>
                <ion-icon name="share"></ion-icon>
                Share
            </button>
        </ion-item>

    </ion-card>
</ion-content>
