<ion-header>

  <ion-navbar>
    <ion-title>{{testcenter.name}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="test-center">
  <ion-card *ngIf="testcenter.id">
      <img src="{{testcenter.picture}}"/>
      <ion-card-content>
          <h1>{{testcenter.name}}</h1>
          <p>{{testcenter.address}}, {{testcenter.city}} {{testcenter.state}}</p>
      </ion-card-content>
     <ion-list>
         <ion-list-header>Shedule Appointment</ion-list-header>
         <ion-item>
                <ion-label>Select {{getCategory()==="Laboratory"?"Test":getCategory()}}</ion-label>
                <ion-select [(ngModel)]="appmtType" (ngModelChange)="testSelected($event)" interface="action-sheet" [selectOptions]="selectOptions" item-right>
                <ion-option small (ionSelect)="clickOption()" *ngFor="let test of tests" [value]="test.testname" [selected]="test.testname==appmtType"  >{{test.testname}}-[{{test.cost}}]</ion-option>
                 
                </ion-select>
        </ion-item>
      <ion-item>
              <ion-icon item-left name="calendar" item-left></ion-icon>
              <ion-datetime min="2018" [(ngModel)]="appdate" (ionChange)="changeDate($event)"></ion-datetime>
              <ion-icon item-right name="arrow-forward" ></ion-icon>
          </ion-item>
         
          <div *ngIf="isSet" ion-item>
              <h3>Pick Appointment Time</h3>
          <ion-scroll scrollX="true" class="item" >
                 <button ion-button small class="btn-padding" *ngFor="let itm of schedules" (click)="logAppointment(itm)">{{itm}}</button>
          </ion-scroll>
         </div>
      </ion-list>
      <ion-list>
          
          <button ion-item (click)="goAppointment()" detail-none >
              <ion-icon item-left name="leaf"></ion-icon>
              <h3>Pending Appointments</h3>
              <ion-note item-right>{{appointmentCount}} Count(s)</ion-note>
          </button>
          <ion-item>
              <ion-icon item-left name="pricetag"></ion-icon>
              <h3>Category</h3>
              <ion-note item-right>{{getCategory()}}</ion-note>
          </ion-item>
      </ion-list>

      <ion-item>
            <button *ngIf="isSelected" ion-button icon-left (click)="presentCostCompareModal()" clear item-left>
                    <ion-icon name="analytics"></ion-icon>
                    Compare Cost
                </button>
          <button ion-button icon-left (click)="share(testcenter)" clear item-right>
              <ion-icon name="share"></ion-icon>
              Share
          </button>
      </ion-item>
    <ion-item>
        <div #map id="map"></div>
    </ion-item>
   <ion-list>
        <ion-item>
                <ion-icon item-left name="car"></ion-icon>
                <h3>Distance</h3>
                <ion-note item-right>{{distance}}</ion-note>
            </ion-item>
            <ion-item>
                    <ion-icon item-left name="pricetag"></ion-icon>
                    <h3>Duration</h3>
                    <ion-note item-right>{{duration}}</ion-note>
                </ion-item>
   </ion-list>
  </ion-card>
</ion-content>
