<ion-header>

  <ion-navbar>
    <ion-title>{{testcenter.name}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-card *ngIf="testcenter.id">
      <img src="{{testcenter.picture}}"/>
      <ion-card-content>
          <h1 class="card-title">{{testcenter.name}}</h1>
          <p>{{testcenter.address}}, {{testcenter.city}} {{testcenter.state}}</p>
      </ion-card-content>
     <ion-list>
         <ion-list-header>Shedule Appointment</ion-list-header>
      <ion-item>
              <ion-icon item-left name="calendar" item-left></ion-icon>
              <ion-datetime min="2018" [(ngModel)]="appdate" (ionChange)="changeDate($event)"></ion-datetime>
              <ion-icon item-right name="arrow-forward" ></ion-icon>
          </ion-item>
          <ion-item *ngIf="isSet" >
                  <ion-label>What Type of Test/Procedure</ion-label>
                  <ion-select [(ngModel)]="appmtType" interface="action-sheet" item-right>
                  <ion-option *ngFor="let test of tests">{{test.name}}-[{{test.cost}}]</ion-option>
                   
                  </ion-select>
          </ion-item>
          <div *ngIf="isSet" ion-item>
              <h3>Pick Appointment Time</h3>
          <ion-scroll scrollX="true" class="item" >
                 <button ion-button small class="btn-padding" *ngFor="let itm of schedules" (click)="logAppointment(itm)">{{itm}}</button>
          </ion-scroll>
         </div>
      </ion-list>
      <ion-list>
          
          <button ion-item (click)="goAppointment()" clear >
              <ion-icon item-left name="leaf"></ion-icon>
              <h3>Pending Appointments</h3>

              <ion-note item-right>{{appointmentCount}}</ion-note>
          </button>
          <ion-item>
              <ion-icon item-left name="pricetag"></ion-icon>
              <h3>Category</h3>
              <ion-note item-right>{{testcenter.Category}}</ion-note>
          </ion-item>
         <!--  <ion-item>
                  <ion-icon item-left name="moon"></ion-icon>
                  <h3>Bedrooms</h3>
                  <ion-note item-right>{{testcenter.bedrooms}}</ion-note>
              </ion-item> -->
          <!-- <button ion-item (click)="openBrokerDetail(testcenter.broker.id)">
              <ion-avatar item-left>
                  <img src="{{testcenter.broker.picture}}"/>
              </ion-avatar>
              <h2>{{testcenter.broker.name}}</h2>
              <p>{{testcenter.broker.title}}</p>
          </button> -->
      </ion-list>

      <ion-item>
          <button ion-button icon-left (click)="share(testcenter
          )" clear item-right>
              <ion-icon name="share"></ion-icon>
              Share
          </button>
      </ion-item>

  </ion-card>
</ion-content>
