<ion-menu [content]="content">


  <ion-content class="menu-bg-color">

    <img src="assets/img/dreamhouse-logo.svg" class="menu-logo"/>

    <ion-list>
            <ion-list-header class="menu-item-color">
            <div class="menu-header-item-color">Appointment Manager</div>
            </ion-list-header>
            <button menuClose ion-item detail-none *ngFor="let menuItem of appMenuItems" (click)="openPage(menuItem)" class="menu-item-color">
            <ion-icon item-left [name]="menuItem.icon"></ion-icon>
            {{menuItem.title}}
            </button>
    </ion-list>

    <ion-list>
            <ion-list-header class="menu-item-color">
            <div class="menu-header-item-color">Help</div>
            </ion-list-header>
            <button menuClose ion-item detail-none *ngFor="let menuItem of helpMenuItems" (click)="openPage(menuItem)" class="menu-item-color">
            <ion-icon item-left [name]="menuItem.icon"></ion-icon>
            {{menuItem.title}}
            </button>
    </ion-list>

    <ion-list>
            <ion-list-header class="menu-item-color">
            <div class="menu-header-item-color">Account</div>
            </ion-list-header>
            <button menuClose ion-item detail-none *ngFor="let menuItem of accountMenuItems" (click)="openPage(menuItem)" class="menu-item-color">
            <ion-icon item-left [name]="menuItem.icon"></ion-icon>
            {{menuItem.title}}
            </button>
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
