

.menu-bg-color{
  background-color: #006d84 !important;
}

.menu-item-color {
  background-color: transparent !important;
  color: #D5E003 !important;
}

.menu-header-item-color {
    background-color: #1ee49f;
    padding: 13px;
    color: #016d84;
    border-radius: 5px 0px 0px 5px;
}

.menu-logo {
  height: 80px;
  padding-left: 20px;
  padding-top: 20px;
}
