.broker {

  ion-card {

    margin-top: 100px;
    overflow: visible;

    ion-card-content {

      background-color: map-get($colors, primary);
      color: #FFFFFF;
      text-align: center;
      padding-bottom: 28px;

      img {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        margin-top: -100px;
        border: solid 4px #FFFFFF;
        display: inline;
      }

      h2 {
        font-size: 1.5rem;
        margin-top: .5rem;
        color: white;
      }

      h3 {
        font-size: 1.8rem;
        color: white;
      }



    }

  }

  .item-ios ion-icon[item-left], .item-ios ion-icon[item-right] {
    color: #016d84 !important;
  }

  .item-ios p {
    font-size: 1rem !important;
  }
  h2{font-size:1.2rem !important;}
}
