<ion-header>
        <ion-navbar>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title>My Appointments</ion-title>
        </ion-navbar>
    </ion-header>

    <ion-content>

<ion-grid>
      <ion-row>
        <ion-col col-12 padding>You don't have any appointments</ion-col>
      </ion-row>

</ion-grid>

    <div [ngSwitch]="category">
        <ion-list *ngSwitchCase="'Doctor'">
            <ion-item-sliding  detail-none *ngFor="let appointment of appointments">

                <button detail-none ion-item (click)="itemTapped(appointment)">
                    <ion-thumbnail item-left>
                        <img src="{{appointment.doctor.thumbnail}}"/>
                    </ion-thumbnail>
                    <h1 text-wrap>{{appointment.doctor.name}}</h1>
                    <h2>{{appointment.doctor.title}}</h2>
                    <p>{{appointment.doctor.city}}, {{appointment.doctor.state}} ∙ {{appointment.doctor.price}}</p>
                    <h3>Appointment Type: {{appointment.apptype}}</h3>
                    <h3>Date: {{appointment.appdate}} | Time: {{appointment.apptime}}</h3>
                    <ion-icon name="arrow-back" item-right></ion-icon>
                </button>
                <ion-item-options side="right">
                        <button secondary (click)="editItem(appointment)">
                                <ion-icon name="card"></ion-icon>Edit</button>
                        <button danger expandable (click)="deleteItem(appointment)">
                                <ion-icon name="trash"></ion-icon>Cancel</button>
                    </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <ion-list *ngSwitchCase="'Testing'">
                <ion-item-sliding *ngFor="let appointment of appointments">
                    <button ion-item detail-none (click)="itemTapped(appointment)">
                        <ion-thumbnail item-left>
                            <img src="{{appointment.testcenter.thumbnail}}"/>
                        </ion-thumbnail>
                        <h1 text-wrap>{{appointment.testcenter.name}}</h1>
                        <!--<h2>{{appointment.testcenter.test[0].testname}}</h2>-->
                        <p>{{appointment.testcenter.city}}, {{appointment.testcenter.state}} ∙ {{appointment.doctor.price}}</p>
                        <h3>Appointment Type: {{appointment.apptype}}</h3>
                        <h3>Date: {{appointment.appdate}} | Time: {{appointment.apptime}}</h3>
                        <ion-icon name="arrow-back"></ion-icon>
                    </button>
                    <ion-item-options side="right">
                        <button secondary (click)="editItem(appointment)">
                                <ion-icon name="card"></ion-icon>Edit</button>
                        <button danger expandable (click)="deleteItem(appointment)">
                                <ion-icon name="trash"></ion-icon>Cancel</button>
                    </ion-item-options>
                   <!--  <ion-item-options>

                    </ion-item-options> -->
                </ion-item-sliding>
            </ion-list>
    </div>
    </ion-content>
