<ion-header>
        <ion-navbar>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title>My Appointments</ion-title>
        </ion-navbar>
    </ion-header>

    <ion-content>
            <ion-toolbar no-border-top no-border-bottom class="toolbar-height">
                    <ion-segment [(ngModel)]="category" color="secondary" class="segment" (ionChange)="segmentChanged($event)">
                            <ion-segment-button value="Doctor">
                                    <div text-wrap>Doctor's Appointment</div>
                                  <ion-icon name="bookmark"></ion-icon>
                                </ion-segment-button>
                        <ion-segment-button value="Testing">
                          <div text-wrap>Test Appointment</div>
                          <ion-icon name="finger-print"></ion-icon>
                      </ion-segment-button>
                    </ion-segment>

                  </ion-toolbar>
    <div [ngSwitch]="category">
        <ion-list *ngSwitchCase="'Doctor'">
            <ion-item-sliding *ngFor="let appointment of appointments">

                <button detail-none *ngIf="appointment.doctor" ion-item (click)="itemTapped(appointment)">
                    <ion-thumbnail item-left>
                        <img src="{{appointment.doctor.thumbnail}}"/>
                    </ion-thumbnail>
                    <h2 text-wrap>{{appointment.doctor.name}}</h2>
                    <h2>{{appointment.doctor.title}}</h2>
                    <p>{{appointment.doctor.city}}, {{appointment.doctor.state}} ∙ {{appointment.doctor.price}}</p>
                    <h3>Appointment Type: {{appointment.apptype}}</h3>
                    <h3>Date: {{appointment.appdate}} | Time: {{appointment.apptime}}</h3>
                    <ion-icon name="arrow-back" item-right></ion-icon>
                </button>
                <ion-item-options side="right">
                        <button secondary (click)="editItem(appointment)">
                                <ion-icon name="card"></ion-icon>Edit</button>
                        <button danger expandable (click)="deleteItem(appointment)">
                                <ion-icon name="trash"></ion-icon>Cancel</button>
                    </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <ion-list *ngSwitchCase="'Testing'">
                <ion-item-sliding *ngFor="let appointment of appointments">
                    <button detail-none *ngIf="appointment.testcenter" ion-item  (click)="itemTapped(appointment)">
                        <ion-thumbnail item-left>
                            <img src="{{appointment.testcenter.thumbnail}}"/>
                        </ion-thumbnail>
                        <h2 text-wrap>{{appointment.testcenter.name}}</h2>
                        <!--<h2>{{appointment.testcenter.test[0].testname}}</h2>-->
                        <p>{{appointment.testcenter.city}}, {{appointment.testcenter.state}} ∙ {{appointment.doctor.price}}</p>
                        <h3>Appointment Type: {{appointment.apptype}}</h3>
                        <h3>Date: {{appointment.appdate}} | Time: {{appointment.apptime}}</h3>
                        <ion-icon name="arrow-back"></ion-icon>
                    </button>
                    <ion-item-options side="right">
                        <button secondary (click)="editItem(appointment)">
                                <ion-icon name="card"></ion-icon>Edit</button>
                        <button danger expandable (click)="deleteItem(appointment)">
                                <ion-icon name="trash"></ion-icon>Cancel</button>
                    </ion-item-options>
                   <!--  <ion-item-options>

                    </ion-item-options> -->
                </ion-item-sliding>
            </ion-list>
    </div>
    </ion-content>
